.privacy-tekst{
    position: absolute;
    top: -120px;
}
.privacy-top{
    position: relative;
}
.privacy-top::before{
    content : " ";
    z-index: 1;
    background-color: rgba(58, 21, 101, 0.6);
    box-shadow: 0 0 65vh 65vh rgba(58, 21, 101, 0.6);
}
.privacy-top::after{
    content: " ";
    z-index: 2;
    background-color: rgba(97, 28, 107, 0.6);
    box-shadow: 0 0 60vh 60vh rgba(97, 28, 107, 0.6);
    left: 0vw;
}
ol ul{
    list-style: lower-latin outside;
    padding-left: 30px;
}

li{
    padding-left: 10px;
    padding-bottom: 5px;
}
li:hover{
    color: white;
}
li{
    color: white;
}

h3{
    margin: 2rem 0;
}

.mateupBody > ul {
    list-style-type: disc !important;
    margin-left: 1.5rem;
}